.error {
  display: inline-flex;
  width: 100%;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 5px;
  background: #c94a4a8f;
  margin: 0;
  color: #3f3f3f;
  justify-content: center;
}


.success{
  display: inline-flex;
  width: 100%;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 5px;
  background: #73bd8dc7;
  margin: 0;
  color: #3f3f3f;
  justify-content: center;
}