.group{
    flex : 5;
    background: #fbfbfb
}

.heading{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 200;
    color: #c7c7c7;
    padding: 15px 0px;    
    margin-top:10px;
}
.heading a{    
    color: #c7c7c7;
    text-decoration: none;
}
.heading a:hover{
    color:#b3b1b1;;
}

.tab{
    background: #f1f1f1;
}